@import 'variables';

.background-img-in-login {
  background-image: url('/assets/img/splash-image.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}