/*  Farver */
$gray-color: #EAEAEA;
$purple-color: #5E2E53;
$pink-color: #E1A1E9;
$black-color: #000000;
$navbar-color: #E9E9E9;
$searchbar-color:  #C4C4C4;

/*  Skrifttyper */
$font-default: 'Ubuntu', sans-serif;
$font-logo-primary: 'Roboto', sans-serif;
$font-logo-second: 'Racing Sans One', sans-serif;

/*  Skriftstørrelser */
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 36px;